footer {
    padding: 25px 0;
    background: $cor-secundaria;
    color: $branco;

    a{
        color: $branco;
        &:hover {
            color:$branco;
        }
    }

    h4 {
        font-size: 19px;
        color: $cor-primaria;
    } 
 
    ul{
        li.ellipsis{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

}