.produtos {
    margin: 30px 0px;
    
    .produtos-container{    
        margin: 30px 0px;

        .produtos-itens{
            color: $cinza;
            h2{
                font-size: 19px;
                margin: 10px 0px 0px;
            }

            .produtos-stars{
                 
                svg{
                    fill:$amarelo;
                    height: 10px;
                    size: 10px;    
                }
            }
        
            .produtos-preco{
                font-size: 16px;
            }
        
        }
    }
}